# Tuple Operations

In [2]:
print("operations of tuple")
abc=(1,2,3,4,5)
print(abc)

operations of tuple
(1, 2, 3, 4, 5)

In [3]:
print("TUPLE")
t=(1,2,3,4,5)
print(t[1])#using index
a=t[0:3]#slicing 
print(a)
b=(10,20,30)#new tub
c=t+b # concatention
print(c)
c=c*2 # repetition
print(c)
d=c.count(2)
print(d)
e=c.index(10)
print(e)

TUPLE
2
(1, 2, 3)
(1, 2, 3, 4, 5, 10, 20, 30)
(1, 2, 3, 4, 5, 10, 20, 30, 1, 2, 3, 4, 5, 10, 20, 30)
2
5