# SET OPERATIONS

# SET OPERATIONS

In [1]:
print( "SETS")
se={1,2,3,4,5}
se.add(10)
print(se)
se.update([20,30])
print(se)
se.remove(30)
print(se)
se.discard(3)
print(se)
se1={3,1,4,40 ,20}
se2=se.union(se1)
print(se2)
se3=se2.intersection(se1)
print(se3)
se4=se2.difference(se1)
print(se4)

SETS
{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 20, 10, 30}
{1, 2, 3, 4, 5, 20, 10}
{1, 2, 4, 5, 20, 10}
{1, 2, 3, 4, 5, 40, 10, 20}
{1, 3, 4, 40, 20}
{2, 10, 5}