# CONDITIONS

* if

a = 46
b = 254

if b > a:
  print("b is greater than a")

* IF ELSE

In [1]:
a =200
b= 100
if b<a:
  print (" a is greater than b")
else :
   print (" b is greater than a")

 a is greater than b

* if elif else

In [2]:
a =200
b=100
if b<a:
  print (" a is greater than b")

elif a==b:
    print ("both are equal")
    
else :
   print (" b is greater than a")

 a is greater than b

* if elif ladder

In [3]:
p =int(input("enter the marks"))
if p > 75:
    print("outstanding")
elif p > 60 and p < 75:
    print("A-grade")
elif p > 50 and p < 60:
    print("B-grade")
elif p > 34 and p < 50:
    print("C-grade")
elif p < 35:
    print("fail")

enter the marks 80

outstanding

In [5]:
p =int(input("enter the marks"))
if p % 2 == 0 & p % 3 == 1:
    print("2 divisble, 3 not")
elif p % 2 == 0 & p % 3 == 0:
    print("divisible by 2,and 3")
elif p % 2 == 1 & p % 3 == 0:
    print("divisible by 3, not 2")
elif p % 2 == 1 & p % 3 == 1:
    print("not divisible by 2, and 3")

enter the marks 45

In [6]:
p =int(input("enter the marks"))
if p % 2 == 0 & p % 3 == 1:
    print("2 divisble, 3 not")
elif p % 2 == 0 & p % 3 == 0:
    print("divisible by 2,and 3")
elif p % 2 == 1 & p % 3 == 0:
    print("divisible by 3, not 2")
elif p % 2 == 1 & p % 3 == 1:
    print("not divisible by 2, and 3")

enter the marks 76

divisible by 2,and 3

* for loop

1)print odd value between 20 and 80, without using if. Using for loop only

In [13]:
for i in range(21, 80, 2):
    print(i)

21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79

2) creat a list of 1 to 20 number using for loop [1,2,3..20]

In [24]:
num=[]
for i in range(1,21):
     num.append(i)
print(i)

20

3)create a  list of 20 to 1 value using  for loop (dont Use Reverse)
[20,19,18,...3,2,1]

In [25]:
my_list = []
for i in range(20, 0, -1):
    my_list.append(i)
print(my_list)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

4)take Cube of odd values between 20 to 40

In [26]:
cubes_of_odds = [(num ** 3) for num in range(21, 40, 2)]
print(cubes_of_odds)

[9261, 12167, 15625, 19683, 24389, 29791, 35937, 42875, 50653, 59319]

5) take 5 freinds name in list name=[a,b,c,d,e]
take corresponding ages in second list age = [20,21,23,25,24]
expected ans:
    my name is a , my age is 20
    my name is b, my age is 21

In [30]:
name = ['snehal','sayee','yash','rohit','eresh']
ages = [20,21,21,23,24]

for x in range(len(name)):
    print(f"My name is {name[x]}, My age is {ages[x]}")

My name is snehal, My age is 20
My name is sayee, My age is 21
My name is yash, My age is 21
My name is rohit, My age is 23
My name is eresh, My age is 24